<html>
    <head>
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    </head>
    <body>
        <div class="container">
            <h2>Ethereum DApp - Deposit</h2>
            <form id="depositForm">
                <div class="form-group">
                    <label for="customer_input">Customer Address:</label>
                    <input type="text" id="customer_input" placeholder="Enter customer address" required>
                </div>
                <div class="form-group">
                    <label for="amount_input">Amount:</label>
                    <input type="number" id="amount_input" placeholder="Enter amount to deposit" required>
                </div>
                <button type="button" class="btn" onclick="deposit()">Deposit</button>
            </form>
            <button type="button" class="btn" onclick="viewDeposit()">View Deposit</button>
            <form action="/main" method="post">
                <input type="submit" value="Main">
            </form>
            <div class="results" style="display: none;">
                <p id="view_customer"></p>
                <p id="view_amount"></p>
            </div>
        </div>
    </body>
    <script src="https://cdn.jsdelivr.net/npm/web3@1.5.2/dist/web3.min.js"></script>
    <script>
        const contractAddress = "0xd34ae264c22167e2f88d8ed6a84caaeea5f6cac1";
        const contractABI = [
            {
                "inputs": [
                    {
                        "internalType": "address",
                        "name": "customer_input",
                        "type": "address"
                    },
                    {
                        "internalType": "uint256",
                        "name": "amount_input",
                        "type": "uint256"
                    }
                ],
                "name": "deposit_money",
                "outputs": [],
                "stateMutability": "nonpayable",
                "type": "function"
            },
            {
                "inputs": [],
                "name": "deposit_view",
                "outputs": [
                    {
                        "internalType": "address",
                        "name": "",
                        "type": "address"
                    },
                    {
                        "internalType": "uint256",
                        "name": "",
                        "type": "uint256"
                    }
                ],
                "stateMutability": "view",
                "type": "function"
            }
        ];
        const web3 = new Web3(Web3.givenProvider);
        const contract = new web3.eth.Contract(contractABI, contractAddress);

        async function deposit() {
            const accounts = await web3.eth.requestAccounts();
            const customer_input = document.getElementById('customer_input').value;
            const amount_input = document.getElementById('amount_input').value;
            console.log(customer_input, amount_input);

            console.log("accounts[0] " + accounts[0]);
            await contract.methods.deposit_money(customer_input, amount_input).send({ from: accounts[0] });
        }

        async function viewDeposit() {
            const result = await contract.methods.deposit_view().call();
            const resultsDiv = document.querySelector('.results');
            if (result[0] !== "0x0000000000000000000000000000000000000000" || result[1] !== "0") {
                resultsDiv.style.display = 'block';
                document.getElementById('view_customer').innerText = "Customer: " + result[0];
                document.getElementById('view_amount').innerText = "Amount: " + result[1];
            } else {
                resultsDiv.style.display = 'none';
            }
        }
    </script>
</html>